/* © 2022 Atingo Tadeusz Karpiński */
/* License OPL-1 (https://www.odoo.com/documentation/12.0/legal/licenses.html). */

.odoo-test-selenium-test-mode-notification {
    background: repeating-linear-gradient(
        45deg,
        #d4db6d,
        #e4e27a 10px,
        #262938 10px,
        #191a24 20px
    );
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
    font-weight: bold;
}